

.content{
    padding: 5rem 2rem;

}


input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 25rem !important;

}

button {
    background: #113f67;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    padding: 0 10px;
}
  
@media screen and (max-width: 767px) {
    input{
        width: 70% !important;
    }
    
}