
.content{
    padding: 5rem 2rem;

}

input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 25rem !important;
    border-radius: 50px;
}

.button{
  background-color: #113f67;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 22px;
 border: 0;
}


  
@media screen and (max-width: 767px) {
    input{
        width: 70% !important;
    }
    
}