
<div class="row justify-content-center mt-5">
  <div class="form login">
    <div class="form-content">
        <header class="mb-3">Jelszó visszaállitás</header>
        <input [(ngModel)]="email" type="email" class="form-control" id="floatingEmail" placeholder="Írja be az email címét">
            
          <p class="text-center mt-4" routerLink="/signin">Van már fiókja?</p>

            <div class="field button-field">
              <button (click)="forgotPassword()" type="button" class="btn btn-primary mb-3">Új jelszó kérése</button>    
            </div>
       
    </div>
    <div class="line"></div>

    <div class="media-options">
     
      <button (click)="googleAuth()" class="login-with-google-btn">
        Google Bejelentkezés
      </button>
        
    </div>
    
  </div>
  </div>
