.text {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text p{
  font-size: 1.2rem;
}

h2{
  font-size: 3rem;
  letter-spacing: 1px;
}

.boxes {
  width: 50%; 
  padding: 0 2%; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}


.box{
  padding: 0.7rem 0.2rem;
  border-radius: 15px;
  width: 150px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    border-radius: 20px;
  background-color: rgba(237, 242, 242, 0.2);
  background-image: linear-gradient(315deg, rgba(216, 222, 222, 0.2) 0%, rgba(229, 189, 246, 0.1 ) 74%);
  align-items: center;
  height: max-content;
}

.box p{
  margin: 0;
}

.box:hover{
  transition: 0.6s;
  background-color: rgba(28, 34, 35, 0.08);
  cursor: pointer;
  color: #fff;
}

img {
    height: 140px;
    border-radius: 10px;
  }
  
  .name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .card {
    height: 100%;
    margin: 0 1rem;
    width: 300px; 
    border: none;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(216, 222, 222, 0.3);
    background-image: linear-gradient(315deg, rgba(216, 222, 222, 0.3) 0%, rgba(229, 189, 246, 0.15 ) 74%);
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .name {
    font-weight: 500;
    margin-top: 1rem;
  }
  
  .button-9 {
    background: #113f67;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    padding: 0 10px;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  label{
      margin-left: 0.5rem;
  }

  input,select{
    background-color: rgba(237, 242, 242, 0.2);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    border-radius: 20px;

  }

  
  
  @media screen and (max-width: 767px) {

    .filters{
      display: block !important;
    }

    .d-flex{
      justify-content: center;   
    }

    .me-3{
      width: 100%;
    }

    
    .card {
      width: auto;
      margin: 0 1rem; 
    }
  
    .row {
      justify-content: center;
    }
  
    .main {
      margin-bottom: 2.5rem;
    }
    .card img{
      height: 60%
    }


    .main{
      display: block !important;
    }

    .text{
      width: 100%;
    }

    .boxes{
      width: 100%;
    }

    .box{
      width: 135px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
      width: 100%; 
    }
  
    .main {
      margin-bottom: 2rem;
    }

    .main{
      display: block !important;
    }
    
    .text{
      width: 100%;
    }
    
    .boxes{
      width: 100%;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .card {
        width: 100%; 
      }
  }
  
  @media screen and (min-width: 1200px) {
    .card {
        width: 100%; 
      }
  }
  






