footer{
    background-color: #113f67;
    color: #fff;
    width: 100%;
    
    
    
  
}

ul li{
    list-style: none;
  
}

ul{
      padding: 0%;
}

svg, path {
height: 30px;
width: 30px;
}

a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
   
   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
   

}


@media screen and (min-width: 992px) and (max-width: 1199px){
   
    
    
}