
footer{
    background-color: #113f67;
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 10vh;
}

ul li{
    list-style: none;
  
}

ul{
      padding: 0%;
}

svg, path {
    height: 30px;
    width: 30px;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
   
    .content{
        display: block !important;
    }

    .cat, .links{
        margin-top: 2rem;
    }


    
}

