<div class="container my-5 ">
    <div class="text-center">
        <h2>Merre tart a jövő?</h2>
        <p>Haladj a korral és fedezd fel a jövő lehetőségeit</p>
    </div>
    <div class="content d-flex">
        <div class="sideCard sideCardLeft">
            <img src="https://5.imimg.com/data5/JQ/DF/VH/SELLER-11599107/digital-marketing.jpg" alt="">
            <h5 class="mt-2">Online világ</h5>
            <p>6 Ajánlat</p>
        </div>

        <div class="mainCard">
            <div class="mainCardContent">
                <h5>Mesterséges Inteligencia</h5>
                <p>5 Ajánlat</p>
                <p>
                    Explore Italy's enchanting destinations, from Rome's landmarks to Venice's canals, embracing rich culture, vibrant traditions, exquisite cuisine, and warm hospitality.</p>
                <div class="buttons m-0">
                    <button>Megtekint</button>
                </div>
            </div>
        </div>

        <div class="sideCard sideCardRight">
            <img src="https://e0.pxfuel.com/wallpapers/129/380/desktop-wallpaper-%DC%9370-sunset-houses-santorini-greece-android-iphone-background-png-jpg-2021.jpg" alt="">
            <h5 class="mt-2">Utazás & Munka</h5>
            <p>3 Ajánlat</p>
        </div>
    </div>
</div>