.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 5rem 0 0 0;


}

.content {
    display: flex;
    justify-content: center;
    width: 100%;

}

.container div {
    margin: 0 1rem;
}



.mainCard button {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #ffffff;

}

.mainCard {
    background-image: url("https://media.licdn.com/dms/image/D4D12AQF9d40PjMCt9Q/article-cover_image-shrink_720_1280/0/1687195457021?e=2147483647&v=beta&t=cQSu-UUpaKUmhYZF4sesLbZZNHIDkGnXg_5hcVrxlYw");
    border-radius: 20px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-color: rgb(177, 167, 167);
    background-blend-mode: multiply;
    color: #ffffff;
    width: 40%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 35rem;
}

.sideCard{
    width: 20% ;
}

.sideCard img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.sideCardLeft img, 
.sideCardRight img{
    height: 50%;
}

.mainCardContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 1rem 0;
}

button{
    font-weight: 600;

}
