<div class="container mt-5 d-flex justify-content-center" id="organizers">
    <div class="main">
                <h2 class="mb-5">Vegye fel velünk a kapcsolatot</h2>
                <form class="border-right pr-5"  name="contactForm" [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <div class="row">
                        <div class=" form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Név" formControlName="name" autocomplete="additional-name">
                        </div>
                    </div>
                    <div class="row">
                        <div class=" form-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" formControlName="email" autocomplete="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Írja be az üzenetet" formControlName="message"></textarea>
                        </div>
                    </div>
                    <div class="">
                        <input type="submit" value="Küldés" class="button mt-3" [disabled]="form.invalid">
                    </div>
                </form>
    </div>
</div>
