<div class="my-5">
    <h1 class="text-center mb-5">Mit kinálunk?</h1>

    <div class="d-flex justify-content-center">
        <div class="serviceCard">
            <div>
                <img width="40" height="40" src="https://img.icons8.com/color/48/timeline.png" alt="timeline"/>            </div>
            <div>
                <h3>Rendezvények</h3>
                <p>Üzleti és önfejlesztő és egyéb témák eseményei, széleskörű élményeket kínálva a résztvevők számára.</p>
                <div class="list">
                    <p>Üzlet és gazdaság </p>
                    <p>Önfejlesztés</p>
                    <p>Egészség és sport</p>
                    <p>Technológia
                    </p>
                </div>
            </div>
        </div>

        <div class="serviceCard">
            <div>
                <img width="40" height="40" src="https://img.icons8.com/glassmorphism/50/experimental-book-glassmorphism.png" alt="experimental-book-glassmorphism"/>            </div>
            <div>
                <h3>Oktatóanyagok</h3>
                <p>Rugalmas online és hagyományos tanulási lehetőségek, szakmai fejlődés és személyes növekedés támogatása.</p>
                <div class="list">
                    <p>Ebookok</p>
                    <p>Kurzusok</p>
                    <p>PDF -ek</p>
                </div>
            </div>
        </div>
    </div>
</div>
