
<div class="row justify-content-center">
    <div class="text-center mb-5">
        <h1 class="heading-section mt-5 pt-5">Elektronikus könyvek</h1>
    </div>
</div>

<div class="container my-5">
    <div class="d-flex titles">
        <p style="width: 20%;">Szerző</p>
        <p style="width: 15%;">Cím</p>
        <p style="width: 15%;">Év</p>
        <p style="width: 30%;">Tartalom</p>
        <p style="width: 10%;"></p>

    </div>
    <div *ngFor="let book of books">
        <div class="d-flex justify-content-center my-3 roww">
            <div class="box">
                <img class="profilePic" src={{book.img}} alt="">
                <span class="ms-2 name">{{book.name}}</span>
            </div>
            <div class="box">
                <span>{{book.title}}</span>
            </div>
            <div class="box">
                <span>{{book.age}}</span>
            </div>
            <div class="box">
                <span>{{book.text}}</span>
            </div>
            <div class="box justify-content-center">
                <a href={{book.downloadLink}} download>
                    <button>Letöltés</button>
                </a>
            </div>
        </div>
    </div>
</div>
