

h1{
	font-weight: 600;
  	font-size: 50px;
}

button {
    background: #113f67;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    padding: 0 10px;
}

.titles{
    box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
}

.titles{
	justify-content: center;
}

.titles p{
	text-align: center;
}

.profilePic{
	width: 50px;
	height: 60px;
	border-radius: 50%;
}

.box{
	display: flex;
	justify-content:left;
	align-items: center;
}

.box:nth-child(3){
	justify-content: center !important;
}

.box:first-child{
	width: 20%;

}

.box:nth-child(2){
	width: 15%;
}

.box:nth-child(3){
	width: 15%;
}


.box:nth-child(4){
	width: 30%;
}

.box:nth-child(5){
	width: 10%;
}

.name{
	margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
	.roww {
		display: contents !important;
 	}

	.box{
		width: 100% !important;
		justify-content: left !important;
	}

	span{
		width: 100% !important;
		font-size: 20px;
		margin: 0.5rem 0;
	}

	.name{
		font-size: 25px;
	}

	button{
		margin:1rem 0 5rem 0;	
	}
	
	.titles{
		display: none !important;
	}

	.container{
		padding-left: 1rem;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .box{
	margin-left: 1rem;
  }
}

