
h1{
  font-weight: 600;
  font-size: 50px;
  margin: 0 15%;
}

p{
  font-size: 20px;
  margin: 0 ;
  padding: 0;

}

.text{
  margin: 0 10%;
}

.box{
  width: 23%;
  padding: 1.5rem;
  margin: 0 1rem;
  border-radius: 25px;
  height: 25rem;
}

.box img {
  width: 100%;
  border-radius: 25px;
}

.box:nth-child(3){
  width: 30%;
  background-color: #007FFF;
  color: #ffffff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.box:nth-child(3) img{
  height: 100%;
}

.box:nth-child(2){
  background-color: #f3e9e7;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box:first-child{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.top, .bottom{
  height: 50%;
}

.bottomLeft, .bottomRight{
  width: 50%;
}

.button-1 {
  background-color: #1f0e38;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.box:first-child img{
  height: 35%;
}

.boxMiddle img{
  height: 50%;
}

@media screen and (max-width: 767px) {
  .d-flex{
    display: block !important;
    justify-content: center !important;
  }

  .box , .box:nth-child(3)  {
    width: 90%;
    margin-bottom: 4rem;
    height: auto;
  }

   .box:nth-child(3) p {
    margin-bottom: 1rem;
   }

  h1{
    font-size: 38px;
    margin: 0% 1rem;
  }

  .text{
    margin: 0 5%;
  }

  .box:first-child img{
    height: 50%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container{
    justify-content: center;
    display: contents;
  }

  .box , .box:nth-child(3)  {
    width: 90%;
    margin-bottom: 4rem;
    height: auto;
  }
  
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .box , .box:nth-child(3)  {
   
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
 
}

