.content{
    margin-top: 4rem;
    min-height: 70vh;
}

.imgBox{
    width: 50%;
    padding: 0 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 100%;
    border-radius: 10px;
}

p{
    font-size: 22px;
}

@media screen and (max-width: 1000px) {

    .content{
        display: block !important;
        height: auto;
    }
    
    .imgBox ,.info{
        width: 100% !important;
    }

    .imgBox{
        padding: 0%;
        margin-bottom: 3rem;
    }

}