.content{
    margin-top: 4rem;
    height: 60vh;
}

.imgBox{
    width: 50%;
    padding: 0 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 100%;
    border-radius: 10px;
}

p{
    font-size: 22px;
}
