
img{
    height: 200px;
    width: 135px;
}

.box{
    padding: 3%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    margin: 1rem;
}

button {
    background: #113f67;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .d-flex{
        display: block !important;
    }

    .box{
        justify-content: center;

    }

    .box:nth-child(3){
        margin-bottom: 0;
    }
}