<div class="container py-5">
    <h2 class="text-center">Ingyenes ebookok</h2>
    <div class="d-flex">
        <div class="box"> 
            <h4>Gazdag Papa Szegény Papa</h4> 
            <img src="https://s01.static.libri.hu/cover/0d/c/857608_4.jpg" alt="">
            <p class="mt-3">Az egyik legikonikusabb pénzügyi könyv, melyben Robert Kiyosaki bemutatja, hogyan válhat valaki gazdaggá és pénzügyileg függetlenné.</p>  
            <a href="assets/GazdagPapa.pdf" download>
                <button >Letöltés</button>
            </a>
        </div>
        <div class="box"> 
            <h4>4 órás munkahét</h4> 
            <img src="https://s01.static.libri.hu/cover/82/7/3790631_4.jpg" alt="">
            <p class="mt-3">Timothy Ferriss könyve arról szól, hogyan érhetjük el a hatékony munkavégzést és érhetünk el sikert rövidített munkaórákkal.</p>  
            <a href="assets/TimothyFerriss.pdf" download>
                <button >Letöltés</button>
            </a>
        </div>
        <div class="box"> 
            <h4>Gondolkodj és gazdagodj</h4> 
            <img src="https://www.konyvtunder.hu/images/big-preview/napoleon-hill-a-teljes-gondolkodj-es-gazdagodj-214842.jpg" alt="">
            <p class="mt-3">Napoleon Hill klasszikusa olyan elveket tartalmaz, amelyek segíthetnek abban, hogy sikeresek legyünk, és gazdagokká váljunk.</p>  
            <a href="assets/NapoleonHill.pdf" download>
                <button >Letöltés</button>
            </a>
        </div>
    </div>
</div>
