
<div class="row justify-content-center">
  <div class="form login">
    <div class="form-content">
        <header>Regisztráció</header>
            <div class="field input-field">
                <input type="email" [(ngModel)]="email" placeholder="Email" class="input" name="email" autocomplete="email">
            </div>
            <div class="field input-field">
                <input type="password" [(ngModel)]="password" placeholder="Jelszó" class="password" name="password">
            </div>
            <div class="field input-field">
              <input type="password" [(ngModel)]="password2" placeholder="Jelszó" class="password" name="Password2">
          </div>
          <p class="text-center mt-4" routerLink="/signin">Van már fiókja?</p>

            <div class="field button-field">
                <button [disabled]="validUser()" (click)="signUp()">Regisztráció</button>
            </div>
       
    </div>
    <div class="line"></div>
    
    <div class="media-options">
     
      <button (click)="googleAuth()" class="login-with-google-btn">
        Google Bejelentkezés
      </button>
        
    </div>
  </div>
  </div>
  <app-footer></app-footer>
