.personalData{
  width: 40%;
}

.bookMarkEvents{
  width: 60%;
}


.save,.save:hover{
  background: #113f67;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  padding: 0 10px;
}

.bookMarkEvents img{
  width: 200px;
  border-radius: 10px;
}

.showEvent{
  background: #113f67;
  color: #fff;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: 500;
}

.text{
margin: auto;
}

svg,path{
  cursor: pointer;
}