nav{
    height: 7vh;
}

.register{
    background-color: white;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.login{
    padding: 3px 10px;
    border-radius: 20px;
}

.buttons{
    text-align: right;
}

svg{
    height: 30px;
    width: 30px;
}