
img{
    height: 130px;
    width: 220px;
    border-radius: 10px;
}

.name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.card{
    border: none;
    padding: 1rem;
    border-radius: 10px;
}

.name{
    font-weight: 500;
    margin-top: 1rem;
}

.content{
    margin: 0 20%;
}