    <div class="row m-3" >
      <div class="col-md-3 mb-4 " *ngFor="let item of events">
        <div class="card-container d-flex flex-column">
          <a href="/" class="hero-image-container">
            <img class="hero-image" src="{{item.imgUrl}}" />
          </a>
          <main class="main-content flex-fill">
            <h1>{{item.name}}</h1>
            <p>{{item.description}}</p>
            <div class="flex-row">
              <div class="coin-base">
                <img src="https://pngimg.com/d/price_label_PNG77.png" class="small-image" />
                <h2>Price: {{item.price}} Ft</h2>
              </div>
              <div class="time-left">
                <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />
                <p>{{ calculateRemainingDays(item.date) }} nap múlva</p>
              </div>
            </div>
            <button class="open"  >Open</button>
          </main>
        </div>
      </div>
    </div>
