
img{
    height: 130px;
    border-radius: 10px;
}

.name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.card{
    width: 270px;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}

.card:hover{
    background-color: rgb(240, 238, 238);
    cursor: pointer;
    transition: 0.6s;
}


.name{
    font-weight: 500;
    margin-top: 1rem;
}