.main {
    max-width: 450px;
    padding: 30px;
    border-radius: 6px;
    background: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
  }
  
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

button{
    color: #fff;
    background-color: #38598b;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    padding: 7px 15px;
}
